{% extends 'base.html' %}

{% load static %}

{% block title %}
    - {{object.entry_code}} 조회
{% endblock %}

{% block content %}
<div id="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">작성자 - {{object.author.username}}</h1>
        </div>
        <div class="row">
            <a href="{% url 'entry:entry_delete' pk=object.id%}" class="btn btn-outline-danger btn-sm float-right">삭제</a>
            <a href="{% url 'entry:entry_update' pk=object.id%}" class="btn btn-outline-success btn-sm float-right">수정</a>
            <a href="{% url 'entry:test' pk=object.id%}" class="btn btn-outline-warning btn-sm float-right">test</a>
        </div>


        <div class="row">
            <!-- 필수 입력칸 -->
            <div class="col-lg-6">
                <!-- 사업번호 -->
                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">사업번호</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{object.entry_code}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사업일자 -->
                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">사업일자</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{object.entry_date}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사업명 -->
                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">사업명</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{object.entry_name}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 가격 -->
                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">가격</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{object.entry_price}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사업상태 -->
                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">사업상태</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{object.entry_condition}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 선택 입력칸 -->
            <div class="col-lg-6">
                <!-- 담당자 -->
                <div class="card mb-4 py-3 border-left-success">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">담당자</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{object.manager_name}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- 장비등록현황 -->
                <div class="card mb-4 py-3 border-left-success">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">장비등록현황</div>
                                <div class="table-responsive">
                                    <div class="table-container">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <table class="table table-bordered dataTable no-footer">

                                                <tr>
                                                    <th>재고번호</th>
                                                    <th>품명</th>
                                                    <th>수량</th>
                                                </tr>


                                                {% for item in plus %}
                                                <tr>
                                                    <td>{{item.item_id.item_code}}</td>
                                                    <td>{{item.item_id.item_name}}</td>
                                                    <td>{{item.selected_item_count}}</td>
                                                </tr>
                                                {% endfor %}

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
        <p>{{object.entry_name}}</p>
        <p>{{object.entry_price}}</p>
        <p>{{object.entry_condition}}</p>
        <p>{{object.manager_name}}</p>
        <p>{{object.manu_name}}</p>
        <p>{{object.model_number}}</p>
        <img src="{{object.image}}">
-->


{% endblock %}