{% extends 'base.html' %}
{% block title %}- Upload{% endblock %}

{% block content %}

<div class="custom-area"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!--  action 에 빈 값이면 현재 페이지에서 하겠단 뜻-->

        <form class="post-form" action="" method="post" enctype="multipart/form-data">
            <!-- csrf_token 은 해킹 방지용으로 사용함-->
            {%csrf_token%}
             {% for field in form.hidden_fields %}
                    {{field}}
             {% endfor %}
            <div class="form-group row">
                {% for field in form.visible_fields %}
                <label for="id_{{field.name}}" class="col-sm-2 col-form-label">
                    {{ field.label_tag }}
                </label>
                    <div class="col-sm-10">
                    {{ field }}
                    </div>
                    {% endfor %}


                <input type="submit" class="btn btn-primary" value="등록">
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}