{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% block title %}- TEST{% endblock %}

{% block content %}
{% if messages %}
<div class="messages bg-gradient-danger">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }} font-weight-bold text-white"{% endif %}>
        {{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="row">

    <!-- DataTales -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <h6 class="col-11 m-0 font-weight-bold text-primary">자산현황</h6>
                    <i class="col far fa-plus-square">  create</i>
                </div>
            </div>
            <div class="card-body">
                {% if filter %}
                <form action="" method="get" class="form form-inline">
                    <label>품목 : </label>
                    {% for choice in filter.form.item_class %}

                        <label class="checkbox-inline">
                            {{choice.tag}} {{choice.choice_label}}
                        </label>

                    {% endfor %}
                    <div class="col-md-5">
                        {{filter.form.item_name.label}} : {{filter.form.item_name}}
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                            <span class="text">검색</span>
                        </button>
                    </div>

                </form>

                {% endif %}

                <form method="post" action="">{% csrf_token %}
                    <div class="table-responsive">
                        <div class="table-container">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <button id="post">등록하기</button>

                                <table class="table table-bordered dataTable no-footer">
                                    <colgroup>
                                        <col width="20%"/>
                                        <col width="10%"/>
                                        <col width="30%"/>
                                        <col width="8%"/>
                                        <col width="10%"/>
                                        <col width="10%"/>
                                        <col width="6%"/>
                                    </colgroup>
                                    <tr>
                                        <th>재고번호</th>
                                        <th>품목</th>
                                        <th>품명</th>
                                        <th>선택</th>
                                        <th>총수량</th>
                                        <th>재고량</th>
                                        <th>등록할 수량</th>
                                    </tr>


                                    {% for item in items %}

                                    <tr>
                                        <td>{{item.item_code}}</td>
                                        <td>{{item.item_class}}</td>
                                        <td>{{item.item_name}}</td>
                                        <td>
                                            <input  id="itemCheck{{item.id}}" type="checkbox" name="item[]" value="{{item.id}}" >
                                        </td>
                                        <td>{{item.item_full_count}}</td>
                                        <td>{{item.item_count}}</td>
                                        <td>
                                            <input style="resize:none; width:50px;" id="itemCount{{item.id}}" type="number" name="count[]" value="">
                                        </td>

                                    </tr>
                                    {% endfor %}



                                </table>

                                <div class="row mt-2">
                                    <div class="col-12">

                                        {% for key, value in request.GET.items %}
                                                {% if key == 'page_item' %}
                                                    {% if items.has_other_pages %}
                                                        <ul class="pagination justify-content-center">
                                                            {% if items.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page_item={{ items.previous_page_number }}&page">
                                                                    Previous
                                                                </a>
                                                            </li>
                                                            {% else %}
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="#">
                                                                    Previous
                                                                </a>
                                                            </li>
                                                            {% endif %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="#">
                                                                    {{ items.number }} / {{ items.paginator.num_pages }}
                                                                </a>
                                                            </li>
                                                            {% if items.has_next %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page_item={{ items.next_page_number }}&page">Next</a>
                                                            </li>
                                                            {% else %}
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="#">Next</a>
                                                            </li>
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}

                                                {% else %}
                                                    {% if items.has_other_pages %}
                                                        <ul class="pagination justify-content-center">
                                                            {% if items.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page_item={{ items.previous_page_number }}&page">
                                                                    Previous
                                                                </a>
                                                            </li>
                                                            {% else %}
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="#">
                                                                    Previous
                                                                </a>
                                                            </li>
                                                            {% endif %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="#">
                                                                    {{ items.number }} / {{ items.paginator.num_pages }}
                                                                </a>
                                                            </li>
                                                            {% if items.has_next %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page_item={{ items.next_page_number }}&page">Next</a>
                                                            </li>
                                                            {% else %}
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="#">Next</a>
                                                            </li>
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}
                                                {% endif %}

                                        {% endfor %}


                                            {% if items.has_other_pages %}
                                            <ul class="pagination justify-content-center">
                                                {% if items.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page_item={{ items.previous_page_number }}&page">
                                                        Previous
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">
                                                        Previous
                                                    </a>
                                                </li>
                                                {% endif %}
                                                <li class="page-item">
                                                    <a class="page-link" href="#">
                                                        {{ items.number }} / {{ items.paginator.num_pages }}
                                                    </a>
                                                </li>
                                                {% if items.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page_item={{ items.next_page_number }}&page">Next</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}









                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <h6 class="col-11 m-0 font-weight-bold text-primary">{{entry.entry_name}}사업 자산현황</h6>
                    <i class="col far fa-plus-square">  create</i>
                </div>
            </div>
            <div class="card-body">
                <form method="post" action="">{% csrf_token %}
                    <div class="table-responsive">
                        <div class="table-container">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <button>취소하기</button>
                                <table class="table table-bordered dataTable no-footer">
                                    <colgroup>
                                        <col width="20%"/>
                                        <col width="10%"/>
                                        <col width="30%"/>
                                        <col width="8%"/>
                                        <col width="10%"/>
                                        <col width="10%"/>
                                        <col width="6%"/>
                                    </colgroup>
                                    <tr>
                                        <th>재고번호</th>
                                        <th>품목</th>
                                        <th>품명</th>
                                        <th>선택</th>
                                        <th>총수량</th>
                                        <th>출고량</th>
                                        <th>취소할 수량</th>
                                    </tr>


                                    {% for select in selected %}
                                    <tr>
                                        <td>{{select.item_id.item_code}}</td>
                                        <td>{{select.item_id.item_class}}</td>
                                        <td>{{select.item_id.item_name}}</td>
                                        <td>
                                            <input id="itemCheck{{select.item_id.id}}" class="select" type="checkbox" name="selected_item[]" value="{{select.item_id.id}}" >
                                        </td>
                                        <td>{{select.item_id.item_full_count}}</td>
                                        <td>{{select.selected_item_count}}</td>
                                        <td>
                                            <input style="resize:none; width:50px;" id="itemCount{{select.item_id.id}}" type="number" name="canceled_count[]" value="">
                                        </td>

                                    </tr>
                                    {% endfor %}



                                </table>
                                {% if select.has_other_pages %}
                                <ul class="pagination">
                                    {% if select.has_previous %}
                                    <li><a href="?page_se_item={{ select.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in select.paginator.page_range %}
                                    {% if select.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                    <li><a href="?page_se_item={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if select.has_next %}
                                    <li><a href="?page_se_item={{ select.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </form>
            </div>


        </div>
    </div>

</div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<script type="text/javascript">
$(document).ready(function () {
            {% for item in items %}
            $('#itemCount{{item.id}}').attr('readonly', true);
            $("#itemCheck{{item.id}}").change(function () {
                if ($(this).is(":checked")) {
                    $('#itemCount{{item.id}}').removeAttr("readonly")
                }
                else {
                    $('#itemCount{{item.id}}').attr('readonly', true);
                }
            });
            {% endfor %}

            {% for select in selected %}
            $('#itemCount{{select.item_id.id}}').attr('readonly', true);
            $("#itemCheck{{select.item_id.id}}").change(function () {
                if ($(this).is(":checked")) {
                    $('#itemCount{{select.item_id.id}}').removeAttr("readonly")
                }
                else {
                    $('#itemCount{{select.item_id.id}}').attr('readonly', true);
                }
            });
            {% endfor %}
        });
</script>
{% endblock %}


