{% extends 'base.html' %}

{% load static %}
{% block title %}- TEST{% endblock %}

{% block content %}

 <div class="container-fluid">

                    <!-- DataTales -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                            <h6 class="col-11 m-0 font-weight-bold text-primary">자산관리 현황</h6>
                            <i class="col far fa-plus-square">  create</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" action="">{% csrf_token %}
                                <div class="table-responsive">
                                    <button>넘기기</button>
                                     {% load django_tables2 %}
                                     {% render_table table %}

                                </div>

                            </form>
                        </div>
                    </div>

                </div>

{% endblock %}