{% extends 'base.html' %}

{% load static %}

{% block title %}- 자산 조회 현황{% endblock %}

{% block content %}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="col-11 m-0 font-weight-bold text-primary">자산관리 현황</h6>
                        <i class="col far fa-plus-square">  create</i>
                    </div>
                </div>
                <div class="card-body">

                    {% load django_tables2 %}

                    {% load bootstrap4 %}

                    {% if filter %}

                        <form action="" method="get" class="form form-inline">
                            {% for choice in filter.form.item_class %}
                            <label class="checkbox-inline">
                                <div class="col-md-4">{{choice.tag}}  </div>
                                {{choice.choice_label}}
                            </label>
                            {% endfor %}
                            <div class="col-md-2">{{filter.form.item_name.label}} : {{filter.form.item_name}}</div>

                            <button class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                <span class="text">품목검색</span>
                            </button>
                        </form>
                        {% endif %}

                    {% render_table table %}

                </div>

            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->

{% endblock %}